<form class='center-block form-for-login well' method="post" action='/login'>
    <fieldset>
        <legend>用户登录</legend>
        <div class="form-group">
            <label class="control-label" for="username">用户名</label>
            <div>
                <input required type="text" class="form-control" id="username" name="username">
            </div>
        </div>    
        <div class="form-group">
            <label class="control-label" for="password">密码</label>
            <div>
                <input required type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">登录</button>
        </div>
    </fieldset>
</form>        