<form method="post" action="/post" class="send_wb well form-inline">
    <h5>有什么新鲜事告诉大家?</h5>
    <div class="input">
        <textarea name="post" id="post"  rows="4" required></textarea>
    </div>
    <div class="func_area">
        <button type="submit" class="send-btn">发布</button>
    </div>
    
</form>
  