<div class="container setting">
    <aside>
        <img class="avatar" src="http://t3.qlogo.cn/mbloghead/174b6e7565d31892a44a/120" alt="">
        <div class="sidenav">
            <ul>
                <li id='profile' class="active">基本资料</li>
                <li id='avatar'>修改头像</li>
                <li id='password'>修改密码</li>
                <li id='close'>关闭账号</li>
            </ul>
        </div>
    </aside>
    <article>2</article>
</div>