<div class='middle'>
    <% if (user && user.username == username) { %>
        <%- include('post') %>
    <% } %>
    <%- include('posts') %>
</div>
<div class='leftnav'>
    <ul>
        <li class="active"><a href="/user/<%= username %>"><span>首页</span></a></li>
        <% if (user && user.username == username) { %>
            <li><a href="#"><span>我的收藏</span></a></li>
        <% }%>    
        <% if (user && user.username == username) { %>
            <li><a href="#"><span>我的赞</span></a></li>
        <% }else { %>
            <li><a href="#"><span>他的赞</span></a></li>
        <% } %>    
    </ul>
</div>
<div class='right'>
    <div class="user_info">
        <div class="name"><%= username %></div>
        <div class="user_atten">
            <ul>
                <li><a href=""><strong>1</strong><span>关注</span></a> </li>
                <li><a href=""><strong>2</strong><span>粉丝</span></a> </li>
                <li><a href=""><strong>3</strong><span>微博</span></a> </li>
            </ul>     
        </div>
    </div>
</div>